@{
    ViewBag.Title = "方案表详情";
    Layout = "~/Views/LayoutPageCommon.cshtml";
}
    @Html.Raw(PureCdn.RenderCss("datetimepicker.css"))
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-Scheme-detail">
        <input name="Id" type="hidden"/>
        <div class="form-group col-xs-12">
            <label class="row-form-item-label control-label">方案名称:</label>
            <div class="row-form-item-content">
                <input name="SchemeName" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group col-xs-12">
            <label class="row-form-item-label control-label">图层路径:</label>
            <div class="row-form-item-content">
                <input name="LayerPath" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group col-xs-12 col-sm-6">
            <label class="row-form-item-label control-label">图层类型:</label>
            <div class="row-form-item-content">
                <select name="LayerType" class="form-control">
                    <option value="shp">shp</option>
                    <option value="gdb">gdb</option>
                    <option value="sde">sde</option>
                 </select>
            </div>
        </div>
              <div class="col-xs-12 form-group">
                  <label class="row-form-item-label control-label">创建时间:</label>
                  <div class="row-form-item-content">
                       <div class="input-group date">
                           <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                           <input name="CreateTime" class="form-control" placeholder="yyyy-MM-dd" type="text">
                       </div>
                  </div>
              </div>
              <div class="col-xs-12 form-group">
                  <label class="row-form-item-label control-label">修改时间:</label>
                  <div class="row-form-item-content">
                       <div class="input-group date">
                           <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                           <input name="UpdateTime" class="form-control" placeholder="yyyy-MM-dd" type="text">
                       </div>
                  </div>
              </div>
    </form>
</div>
@section footer{
    @Html.Raw(PureCdn.RenderJs("datetimepicker.js"))
<script inline="javascript">
    $(function(){
$.apioperate.get("/api/Scheme/get/"+getRequestValue("id"), function (res) {
        if (res.Status == rpcresponse_status.SUCCESS) {
      $("#form-Scheme-detail").bindForm(res.Item);
    }})
    $("#form-Scheme-detail").setReadonly();
    });

</script>
}