@{
    ViewBag.Title = "文件管理表新增";
    Layout = "~/Views/LayoutPageCommon.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-FileStorage-add">
                    <div class="form-group col-xs-12 col-sm-6">
                        <label class="row-form-item-label control-label">文件名:</label>
                        <div class="row-form-item-content">
                            <input name="FileName" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-6">
                        <label class="row-form-item-label control-label">文件路径:</label>
                        <div class="row-form-item-content">
                            <input name="FilePath" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-6">
                        <label class="row-form-item-label control-label">文件大小:</label>
                        <div class="row-form-item-content">
                            <input name="FileSize" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-6">
                        <label class="row-form-item-label control-label">扩展名:</label>
                        <div class="row-form-item-content">
                            <input name="FileExtension" class="form-control" type="text">
                        </div>
                    </div>
    </form>
</div>
@section footer{
<script inline="javascript">
    $(function(){

    });

    $("#form-FileStorage-add").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.apioperate.save("/api/FileStorage/create", $('#form-FileStorage-add').serializeJson());
        }
    }
</script>
}