@{
    ViewBag.Title = "规则表详情";
    Layout = "~/Views/LayoutPageCommon.cshtml";
}
    @Html.Raw(PureCdn.RenderCss("datetimepicker.css"))
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-Rule-detail">
        <input name="Id" type="hidden"/>
        <div class="form-group col-xs-12 col-sm-6">
            <label class="row-form-item-label control-label">规则名称:</label>
            <div class="row-form-item-content">
                <input name="RuleName" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group col-xs-12 col-sm-6">
            <label class="row-form-item-label control-label">规则对应请求:</label>
            <div class="row-form-item-content">
                <input name="RuleUrl" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group col-xs-12 col-sm-6">
            <label class="row-form-item-label control-label">规则类别:</label>
            <div class="row-form-item-content">
                <input name="RuleType" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group col-xs-12 col-sm-6">
            <label class="row-form-item-label control-label">权重:</label>
            <div class="row-form-item-content">
                <input name="Weight" class="form-control" type="text">
            </div>
        </div>
         <div class="form-group col-xs-12">
             <label class="row-form-item-label control-label">错误描述:</label>
             <div class="row-form-item-content">
                 <input name="ErrorDesc" class="form-control" type="text">
             </div>
         </div>
        <div class="form-group col-xs-12">
            <label class="row-form-item-label control-label">规则描述:</label>
            <div class="row-form-item-content">
                <input name="Description" class="form-control" type="text">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 form-group">
            <label class="row-form-item-label control-label">是否启用:</label>
            <div class="row-form-item-content">
                 <label class="toggle-switch switch-solid">
                     <input type="checkbox" name="StatusCode">
                     <span></span>
                 </label>
            </div>
        </div>
        <div class="col-xs-12 form-group">
            <label class="row-form-item-label control-label">创建时间:</label>
            <div class="row-form-item-content">
                 <div class="input-group date">
                     <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                     <input name="CreateTime" class="form-control" placeholder="yyyy-MM-dd" type="text">
                 </div>
            </div>
        </div>
        <div class="col-xs-12 form-group">
            <label class="row-form-item-label control-label">更新时间:</label>
            <div class="row-form-item-content">
                 <div class="input-group date">
                     <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                     <input name="UpdateTime" class="form-control" placeholder="yyyy-MM-dd" type="text">
                 </div>
            </div>
        </div>
    </form>
</div>
@section footer{
    @Html.Raw(PureCdn.RenderJs("datetimepicker.js"))
<script inline="javascript">
    $(function(){
$.apioperate.get("/api/Rule/get/"+getRequestValue("id"), function (res) {
        if (res.Status == rpcresponse_status.SUCCESS) {
      $("#form-Rule-detail").bindForm(res.Item);
    }})
    $("#form-Rule-detail").setReadonly();
    });

</script>
}