
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>main</title>
</head>
<body style="max-height: 1700px; max-width: 3500px;">
    <img src="~/Content/img/圣诞雪人.jpg" style="height:100%;width:100%;"/>
</body>
</html>